<div ng-controller="CreateEmotionCtrl as cuc">
    <h1>Create Emotion</h1>

    <form id="CreateEmotionForm" name="CreateEmotionForm" class="form-horizontal" role="form"
          ng-submit="cuc.createEmotion()">
        <legend class="sm-col-12">How do you feel today?</legend>

        <div class="form-group">
            <label id="lbl_userId" for="userId" class="col-sm-4 control-label">User Id</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="userId" id="userId" placeholder=""
                       ng-model="cuc.Emotion.userId">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_emotion" for="emotion" class="col-sm-4 control-label">Emotion</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="emotion" id="emotion" placeholder=""
                       ng-model="cuc.Emotion.emotion">
            </div>
        </div>

        <div class="form-group">
            <label id="lbl_reason" for="reason" class="col-sm-4 control-label"
                   is-required="CreateEmotionForm.reason">@Who/#What is the reason?</label>

            <div class="col-sm-8">
                <input type="text" class="form-control" name="reason" id="reason"
                       ng-model="cuc.Emotion.reason">
            </div>
        </div>

        <pre>{{ cuc.Emotion | json }}</pre>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-8 text-right">
                <a ng-href="/#/" id="btn_cancel" class="btn btn-warning">Cancel</a>

                <button type="submit" class="btn btn-success" id="btn_create">Create Emotion</button>
            </div>
        </div>


    </form>
</div>

