<div ng-controller="EmotionCtrl as uc">
        <div class="jumbotron">
            <h2>Emotions Tracker</h2>
            <p class="pull-right">Track and Share your emotions</p>
        </div>

        <div>
            <div class="form-group">
                <h3>
                    Emotions
                    <a ng-href="/#/emotions/create" class="btn btn-primary pull-right" id="btn_emotion_create">Add Emotion</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText" placeholder="Type here to filter Emotions...">
                <hr>
            </div>


            <table id="emotion_list" class="table table-striped">
                <thead>
                <tr>
                    <th>User Id</th>
                    <th>Emotion</th>
                    <th>Reason</th>
                    <th>Location</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="emo in uc.emotions | filter:searchText">
                    <td>
                        {{ emo.userId }}
                    </td>
                    <td>
                        {{ emo.emotion }}
                    </td>
                    <td>
                        {{ emo.reason }}
                    </td>
                    <td>
                        {{ emo.location }}
                    </td>
                    <td>
                        {{ emo.link }}
                    </td>
                    <td>
                        <a ng-href="/#/emotions/edit/{{emo.id}}" class="btn btn-success pull-right" id="btn_emotion_update">Edit Emotion</a>
                    </td>
                </tr>
                <tr ng-hide="uc.emotions.length">
                    <td colspan="3">
                        <p class="text-center">No Emotions Found</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ uc.emotions | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>
